<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>gameshelf</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script type="text/javascript">
      var sc_project=11611353;
      var sc_invisible=1;
      var sc_security="80ab2c1b";
      var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "http://www.");
      </script>
      <script type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async>
    </script>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body id="bootstrap-overrides">
    <%= yield %>
  </body>
</html>
